<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Efrema Nikitin</title>
    
    {% load static %}
    <link rel="icon" type="image/ico" href="{% static '/img/favicon/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static '/img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static '/img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" href="{% static '/img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/img/favicon/site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </head>
  <body>
    {% include "includes/header.html"%}
    <main>
      <div class="container">
        {% block content %}Нет контента{% endblock %}
      </div>
    <main>
    {% include "includes/footer.html"%}
  </body>
</html>