<div class="card" style="width: 18rem;">
    <div class="card-body">
        <a href="{% url 'catalog:item_detail' item.pk %}"><h5 class="card-title">{{ item.name }}</h5></a>
        <h6 class="card-subtitle mb-2 text-muted">{{ item.category }}</h6>
        <p class="card-text">{{ item.text|truncatewords_html:10|safe }}</p>
        {% for tag in item.tags.all %}
        <a href="#" class="card-link">{{ tag }}</a>
        {% endfor %}
    </div>
</div>