{% extends "base.html" %}
{% block content %}
    <h1>{{ item.name }}</h1>
    <img src="{{ item.item_main_image.image.url }}" width = "500">
    <h3>{{ item.text }}</h3>
    <h5>{{ item.category.name }}</h5>
    {% for tag in item.tags.all %}
        <p>{{ tag }}</p>
    {% endfor %}
    <h4>Фото товара</h4>
    {% for image in item.gallery_images.all %}
        <img src="{{ image.image.url }}" width = "500">
    {% endfor %}
{% endblock content %}