{% extends "base.html" %}
{% block content %}
<div class="row">
  {% for item in items %}
    {% ifchanged %}
      <h3>{{ item.category.name }}</h3>
    {% endifchanged %}
    <div class="col">
      {% include "includes/item_card.html" %}
    </div>
  {% endfor %}
</div>
{% endblock content %}