{% extends "base.html" %}
{% block content %}
  <form action={% url "homepage:echo_submit" %} method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
        {{ field.label_tag}} {{field}}
        {% if field.help_text %}
        <small class="text-muted">{{ field.help_text|safe }}</small>
        {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Отправить форму</button>
  </form>
{% endblock content %}