{% extends "base.html" %}
{% block content %}
  <h1>Скорее переходи в список товаров и покупай</h1>
  {% load static %}
  <div class="row">
    {% for item in items %}
      <div class="col">
        <a  href="{% url 'catalog:item_detail' item.id %}" style="text-decoration:none;">
        {% include "includes/item_card.html" %}
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock content %}